.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navbar.css */
.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Move display: flex; to the ul element */
}

.nav-item {
  margin-right: 10px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.nav-item a:hover {
  background-color: #555;
}


.Menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4%;
  background-color: #333;
  color: white;
  padding: 100px;
  z-index: 1000; /* Ensure it appears above other content */
}

.cart-drawer {
  overflow: auto; /* or 'scroll' */
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.cart-drawer.open {
  right: 0;
}

.list-item {
  width: 100px; /* Set the width of the <li> */
  height: 100px; /* Set the height of the <li> */
  overflow: hidden; /* Hide any overflow */
}

.list-item img {
  width: 100%; /* Make the image fill the width of the <li> */
  height: auto; /* Automatically adjust the height while maintaining aspect ratio */
  display: block; /* Ensure the image behaves as a block element */
}

.container {
  height: 7%;
  display: flex; /* Use flexbox for horizontal layout */
}

.image-container {
  flex: 1; /* Each image container takes equal space */
  margin: 0 10px; /* Add margin between images */
}

.image-container img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}
