/* CartDetails.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.cart-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-item img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.remove-from-cart {
  cursor: pointer;
  color: red;
  text-decoration: underline;
  margin-top: 5px;
}

.cart-total {
  font-weight: bold;
  margin-top: 10px;
}

.green-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.green-button:hover {
  background-color: #45a049; /* Darker Green */
}
